  body {
            background-color: #FFD700; /* Color de fondo alegre (dorado) */
            color: #333; /* Color del texto para buen contraste */
            font-family: Arial, sans-serif;
            text-align: center;
            font-size: 20px;
        }
        header, footer {
            background-color: #FFA500; /* Color de fondo para el header y footer (naranja) */
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        nav ul {
            list-style: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin: 0 10px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
        }
        .carousel img {
            width: 100%;
            max-width: 600px;
            display: block;
            margin: 0 auto;
        }
        form {
            background-color: #FFFACD; /* Fondo claro para el formulario (limón claro) */
            padding: 20px;
            border-radius: 5px;
            margin: auto;
            width: fit-content; /* Ajusta el ancho del formulario al contenido */
        }
        form table {
            margin: 0 auto; /* Centro la tabla dentro del formulario */
        }
        form label {
            display: block;
            margin-top: 10px;
        }
        form input, form textarea {
            width: 90%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        form button {
            background-color: #32CD32; /* Color de fondo para el botón (verde lima) */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }
        form button:hover {
            background-color: #228B22; /* Color del botón al pasar el mouse (verde) */
        }
        .container img {
            max-width: 50%;
            height: 600px;
            border: 5px solid #FFA500; /* Borde decorativo */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
        }
        .table-container {
            text-align: center;
        }